# Вспомогательные файлы сборки LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lot
*.lof
*.nav
*.snm
*.vrb

# Системные файлы
.DS_Store
Thumbs.db

# Qucs расчетные файлы и логи
*.dat
*.dpl
*.log
